@import "tailwindcss";

:root {
  --accent: 27 28 237;
  --accent-dark: 134 239 172;
  --gray-light: 229 231 235;
  --gray-dark: 55 65 81;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: var(--accent-dark);
  }
}
